extends layout
include includes/mixins

block jumbo
    .jumbotron
        .container
            h3 About Us
block content
    .container
        .row
            != md(text)
        img#featured.img.center-block( src="/img/cec.jpg" alt="FIU: Engineering and Computing" )