extends layout

block jumbo
    .jumbotron
        .container
            h3 Active BOLOs

            label.label(for='filter')
                | Filter BOLOs By:
            select#filter.selectpicker(title="Filter By" data-width="fit")
                option(value="allBolos" selected="selected") All Bolos
                option(value="myAgency") My Agency
                option(value="myBolos") My Bolos

block content
    include partials/global-alerts
    #bolo-list.row.text-center
    .row.text-center
        nav(aria-label="Page navigation")
            ul#bolo-paging.pagination
    script.
        //Render the page with bolos from the users agency
        var filterSelector = $('#filter')
        var renderPage = function (bolosPerPage, visibleNumbers) {
            var filterValue = filterSelector.find("option:selected").val();
            var listOfBoloThumbnails = $('.thumbnail');
            var boloDiv = $('#bolo-list');
            var pagingDiv = $('#bolo-paging');
            $.ajax({
                url: '/bolo/list', type: 'GET',
                data: {filter: filterValue},
                success: function (response) {
                    boloDiv.empty();
                    boloDiv.append(response);
                    boloDiv.children().hide();
                    boloDiv.children().slice(0, bolosPerPage).show();
                    $(function () {
                        pagingDiv.twbsPagination({
                            totalPages: listOfBoloThumbnails.length <= bolosPerPage ?
                                    1 : Math.floor(listOfBoloThumbnails.length / bolosPerPage),
                            visiblePages: visibleNumbers,
                            prev: '&laquo;',
                            next: '&raquo;',
                            onPageClick: function (event, page) {
                                boloDiv.children().hide();
                                var start = (page - 1) * bolosPerPage;
                                var end = start + bolosPerPage;
                                boloDiv.children().slice(start, end).show();
                            }
                        });
                    });
                }
            })
        };
        $(document).ready(function () {
            renderPage(12, 8);
        })

        //When you change the filter, render the selected bolos, and the paging
        filterSelector.change(function () {
            renderPage(12, 8);
        });

