extends layout

block jumbo
    .jumbotron
        .container
            h3 Active BOLOs
            input#input.hidden(value='default')
            label.label(for='filter')
                | Filter BOLOs By:
            select#filter.selectpicker(title="Filter By" data-width="fit")
                option(value="allBolos" selected="selected") All Bolos
                option(value="myAgency") My Agency
                option(value="myBolos") My Bolos

block content
    #bolo-list.row.text-center
    .row.text-center
        nav(aria-label="Page navigation")
            ul#bolo-paging.pagination
    script(src="/js/renderPage.js" )


