extends layout

block jumbo
    .jumbotron
        .container(style="display:flex; justify-content: center;")
            div
                div(style="display: flex; justify-content: center;")
                    img(src= "/img/chiefsofpolice.png", style="height:200px;")
                h1(style="text-align: center;") BOLO
                p.text-center BOLO Creator
                p.strong Situational Awareness Multi-Jurisdictional Resource

block content
    noscript
        h2.text-danger Javascript is disabled in your browser! You can not create a bolo or access most features without javascript enabled!
    form#login(action="/login" method="post")
        +input_text("username", "Username", "", true, "", "text")
        +input_text("password", "Password", "", true, "", "password")
        .form-group
            button.btn.btn-primary(type="submit" value="login") Login
            a(href='/forgotPassword' style="margin-left:10px") Forgot password?
