extends layout

block jumbo
    .jumbotron
        .container
            p User Password Reset Page

block content
    h2 Pasword Reset
    p The new password must contain at least 3 out of 4
        | (uppercase and lowercase letters, numbers and special characters)
        | and no more than 2 equal characters in a row.
        | Valid special characters: ! ~ < > , ; : _ = ? * + # . " & § % ° ( ) | [ ] - $ ^ @ /

    form( action="/password/newPass" method="post" )
        +input_text( "password", "Password", "", true,  "", "password" )
        +input_text( "confirm", "Repeat Password", "", true,  "", "password" )

        .form-group
            button.btn.btn-primary( type="submit" value="save" ) Submit