extends layout

block jumbo
    .jumbotron
        .container(style="display:flex; justify-content: center;")
            div
                div(style="display: flex; justify-content: center;")
                    img(src= "/img/chiefsofpolice.png" style="height:200px;")
                h1(style="text-align: center;") BOLO
                p Flier Creator Version 4.0
                p.strong Situational Awareness Multi-Jurisdictional Resource

block content
    .form-group
        form#login(action="/forgotPassword" method="post")
            +input_text("email", "Email", "", true, "")
            +input_text("firstname", "First Name", "", true, "")
            +input_text("lastname", "Last Name", "", true, "")
            button.btn.btn-warning(type="submit" value="reset") Reset password
            a.btn.btn-success(href='/login' style="margin-left:10px") Wait, I remember
