extends account-layout

block jumbo-desc
    h3 Account Management: Change your password

block account-content
    form( action="/account/password" enctype="multipart/form-data" method="post" )
        +input_text( "password", "New Password (required)", "", true,  "", "password" )
        +input_text( "confirm", "Confirm Password (required)", "", true,  "", "password" )
        .form-group
            button.btn.btn-primary( type="submit" value="save" ) Submit
